body {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: -1em -6em 0 -6em;
  padding: 0 6em 0 6em;

}

header {
  grid-column: 1 / 4;

}

main {
  grid-column: 1 / 4;
}

footer {
  grid-column: 1 / 4;
}

.flex-container {
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-between;

}

.footer-container {
  display: grid;
  grid-column: 1 / 4;
  padding: 0 6em 0 6em;

}

.styled-page-break {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 6em 0 6em;

}

.video {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 1em 5em 5em 5em;

}

.header-top-section p {
  display: flex;
  justify-content: flex-end;

}

#skip {
  margin: -1em -15em 0 -15em;
  z-index: 0;
}

#header-top {
  display: flex;
  flex-direction: row;
  padding: 4em 4em 2em 4em;

}

#header-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 4em 4em 2em 4em;

}

#header-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #1b447f;
  margin-bottom: -1em;
  padding: 0;

}

#footer-top {
  display: grid;
  grid-column: 1 / 2;
  padding-left: 0;

}

#footer-bottom {
  display: grid;
  grid-column: 2 / 4;
  padding-top: 4em;

}

#footer-nav {
  display: grid;
  grid-column: 1 / 4;

}

#footer-nav ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
}

#copyright {
  display: grid;
  grid-column: 1 / 4;
  padding-bottom: 2em;

}

#page-text {
  font-weight: lighter;
  text-align: justify;
  padding: 3em 5em 1em 5em;

}

#header-nav ul {
  display: flex;
  flex-direction: row;
}

#header-nav ul li {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1em 2em 1em 2em;
}

#footer-nav ul li {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1em 2em 1em 0;

}
