* {
  font-family: Arial, sans-serif;

}

p {
  font-size: 17px;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  font-weight: bold;

}

h3 {
  font-size: 17px;
  font-weight: bold;
}

body {
  background: #ffffff;
}

header {
  background-color: #03A3DF;

}

nav ul {
  list-style-type: none;

}

footer {
  background-color: pink;
  background-image: url("../images/footerimage.jpg");

}
