* {
  font-family: Arial, sans-serif;
  font-size: 1em;

}

a {
  text-decoration: none;

}

p {
  font-size: 17px;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  color: #03A3DF;
}

h2 {
  font-size: 24px;
  font-weight: bold;

}

h3 {
  font-size: 17px;
  font-weight: bold;
}

body {
  background: #ffffff;

}

header {
  background-color: #03A3DF;
  display: flex;
  flex-flow: column wrap;

}

hr {
  color: #03A3DF;

}

footer {
  background-color: #1b447f;
  background-image: url("architecture/images/footerimage.jpg");

}

.facilities {
  color: #03A3DF;

}

.quote {
  color: #03a3df;
  font-size: 30px;
  text-align: center;
}

.quote-attribution {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #03a3df;

}

.flex-container ul {
  list-style: none;
}

.flex-container a {
  color: #ffffff;
  text-transform: uppercase;

}

.styled-page-break hr {
  border: 1.5px solid #03A3DF;
  width: 30%;

}

.styled-page-break img {
  width: 30%;

}

#header-bottom {
  line-height: 0em;
  color: #ffffff;
  text-align: right;
  font-size: smaller;

}

#page-intro {
  text-align: center;
  padding: 2.5em 6em 2em 6em;

}

#schedule {
  padding: 0em 0em 0 5em;
  display: grid;
  align-content: left;

}

#nd-policy {
  padding: 0 5em 5em 5em;

}

#footer-top {
  align-items: center;

}

#footer-bottom {
  color: #ffffff;
  line-height: 0em;
  text-align: right;

}

#copyright {
  color: #ffffff;

}

#page-text hr {
  border: none;
  border-bottom: 3px solid #03A3DF;

}

#page-text h2 {
  text-transform: uppercase;
  color: #03A3DF;

}

#schedule h2 {
  grid-column: 1 / 4;
  color: #03A3DF;
  text-transform: uppercase;

}

#schedule h3 {
  grid-column: 1 / 2;
  line-height: 0;
  color: #03A3DF;

}

#schedule p {
  grid-column: 2 / 4;
  line-height: 0;

}

#schedule #bold-blue {
  color: #03A3DF;
  font-weight: bold;
  grid-column: 1 / 1;
}

#nd-policy hr {
  border: none;
  border-bottom: 3px solid #03A3DF;
  padding-top: 2.5em;
}

#nd-policy h3 {
  padding-top: 2em;
}

#footer-nav ul a {
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
}
